# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
[Bb]in/
[Oo]bj/

# .NET
*.dll
*.exe
*.pdb

# NuGet
packages/
*.nupkg
*.snupkg

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Rider / JetBrains
.idea/
*.DotSettings.user

# VS Code
.vscode/